* {
    margin: 0px;


}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;

}

header nav ul {
    display: flex;
    margin-left: 20%;
    text-align: right;
    align-items: center;
    margin-top: 10px;
}

header nav ul li {
    margin right: 20px;
    display: inline-block;
    padding: 10px;
    align-items: center;

}

header nav ul li a {
    text-decoration: none;
    padding: 5px;
    color: black;

}

header nav ul li a:hover {
    color: #fd6e0a;
}

.fahim {
    clolor: rgb(26, 24, 24);
    margin-left: 250px;
    font-size: 35px;
    align-items: center;
}

.fahim span {
    color: #fd6e0a;
}

.hireme {
    background-color: #fd6e0a;
    color: white;
    padding: 13px;
    border-style: none;
    width: 115px;
    margin-top: -9px;
    font-size: 17px;
    border-radius: 5px;
    align-items: center;
}

.hireme:hover {
    cursor: pointer;
    background-color: white;
    color: #fd6e0a;
    transition: 0.5s;
}

.hireme:active {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s;
}

.shop-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: left;
    background-color: white;
    justify-content: left;
    padding: 0px;
    transform: scaleY(0);
    transition: 0.3s;
    transform-origin: top;
    padding-right: 10px;
    width: 160px;
}

.my-shops:hover .shop-list {
    transform: scaleY(1);

}

.shop {
    padding-left: 0px;
    margin-left: 0px;
    text-align: left;

}

.shop:hover {
    font-weight: bold;
}








/* header bennar realated all css */


.header {
    background-color: #d9bba5;
    background-image: url("../images/header-background.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 713px 470px;


}

.banner {
    padding-left: 250px;

    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #fd6e0a;
    color: white;
    padding: 13px;
    border-style: none;

    margin-top: -9px;
    font-size: 17px;
    border-radius: 5px;
    align-items: center;
}

.header-img {
    width: 1132px;
    height: 569px;
    align-items: right;
    margin-right: -140px;
}

.banner h3 {
    color: rgb(44, 41, 41)
}

.banner h1 {
    font-size: 45px;
}

.about-me {
    padding: 100px;
    text-align: center;
    background-color: #d9bba5;
    margin-top: 100px;
    width: 55%;
    /* align-items: center; */
    margin-left: 260px;
    border-radius: 10px;
}

.section-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;


}

.section-desctiption {
    margin-bottom: 10px;
    color: rgb(68, 67, 67);
}

.about-info-container {
    display: flex;
    justify-content: space-around;


}

.about-info {
    text-align: center;
    margin-top: 10px;
}

.info-description {
    font-weight: bold;
}

.info-title {
    font-weight: 200;
}

.what-i-do-title {
    margin-top: 80px;
}

.what-i-do-description {
    width: 50%;
    text-align: center;
    margin-left: 386px;
}




/* skill related styles */

.skill-container {
    display: flex;
    align-items: center;
    margin-left: 204px;
    margin-top: 50px;
}

.skill img {
    width: 30px;
}

.skill {
    width: 220px;
    height: 240px;
    background-color: #eddfd485;
    margin-right: 20px;
    padding: 30px;
    border-radius: 10px;
}

.skill-description {
    margin-top: 20px;
    color: rgb(63, 61, 61);
}




/* summary item realated css */
.summary {
    margin-top: 100px;

}

.summary-container {
    display: flex;
    margin-top: 50px;
    width: 70%;
    margin-left: 269px;
}

.summary-heading {
    margin-right: 20px;
}

.summary-items {
    border-bottom: 1px solid rgb(122, 110, 110);
    padding: 20px;
}

.summary-heading h3 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(45, 41, 41)
}

.study-title {
    font-size: 18px;
    font-weight: 600;
    color: #fd6e0a;
}

.stydy-location {
    margin-top: 7px;
    font-style: italic;
}

.stydy-descreption {
    margin-top: 14px;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: white;
    color: #fd6e0a;
    transition: 0.5s;
}

.btn-primary:active {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.3s;

}



/* footer related style */

footer {
    background-color: #d9bba5;
    margin-top: 100px;

}

.colum-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.social-links a img {
    width: 30px;
    margin-top: 10px;

    height: 30px;
}

.social-links a img:hover {
    color: black;
    scale: 1.3;
    transition: 0.3s;
}

.social-links a {
    margin-right: 10px;
}

.footer-container {
    display: flex;
    margin-top: 50px;
    width: 70%;
    margin-left: 269px;
}

.input-container input {
    display: block;
    margin-top: 20px;
    width: 380px;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
}

.footer-colum {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.input-text {
    margin-top: 20px;
    padding: 15px;
    border-style: none;
    border-radius: 5px;
}

.input-submit {
    margin-top: 15px;
    width: 150px;
}